// Храним анимации в переменных

//Ease
$ease-1s:       all 0.1s ease;
$ease-2s:       all 0.2s ease;
$ease-3s:       all 0.3s ease;

// eseIn
$easeIn-1s:     all 0.1s ease-in;
$easeIn-2s:     all 0.2s ease-in;
$easeIn-3s:     all 0.3s ease-in;

// easeOut
$easeOut-1s:    all 0.1s ease-out;
$easeOut-2s:    all 0.2s ease-out;
$easeOut-3s:    all 0.3s ease-out;

// easeInOut
$easeInOut-1s:  all 0.1s ease-in-out;
$easeInOut-2s:  all 0.2s ease-in-out;
$easeInOut-3s:  all 0.3s ease-in-out;

//Mixins
@mixin transition ($ease, $properties...) {
  transition: $ease;
  @if length($properties) > 0 {
    transition-property: $properties;
  }
}

@keyframes fade-in{
	0%{
		opacity: 0;
		top: -50px;
		animation-timing-function: ease;
	}

	100%{
		visibility: visible;
		opacity: 1;
		animation-timing-function: ease-in;
	}
}

@keyframes open-menu{
	0%{
		opacity: 0;
		top: 150%;
		animation-timing-function: ease;
	}

	100%{
		visibility: visible;
		opacity: 1;
		animation-timing-function: ease-in;
	}
}

@keyframes close-menu{
	0%{
		opacity: 1;
		top: 150%;
		animation-timing-function: ease-out;
	}

	100%{
		top: -50%;
		opacity: 0;
		visibility: hidden;
		animation-timing-function: ease-out;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

@keyframes scale-up-center {
	0% {
	  transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
