.personal-kab{
	padding: rem(35) 0 rem(40);

		.content{
			@include row-flex();

				&__head-item{
					@include font(em(24), 500);
					display: flex;
					justify-content: flex-start;
					flex-grow: 1;
					width: 100%;
					margin-bottom: rem(20);
				}

				&__aside-section{
					@include col();
					@include size(3);
					@include size-lg(12);
				}

				.user-list{
					display: flex;
					flex-direction: column;
					color: $main-element-grey;

						&__item{
							display: flex;
							align-items: center;
							padding: rem(8) 0 rem(8);
							border-bottom: 1px solid $main-e1e8;

								& > span{
									@include font(em(16), 400);
									cursor: pointer;
									color: $main-element-grey;
								}

								.user-name{
									@include font(em(18), 500);
								}

								&:last-child{
									border-bottom: none;
								}
						}

						&__icon-item{
							width: rem(20);
							font-size: em(14);
							color: $mark-blue;
						}
				}

				.user-menu__head-item{
					@include font(em(18), 400);
					margin-bottom: rem(8);
				}

				&__item-section{
					@include size(9);
					@include size-lg(12);
					@include size-md(12);
					
					padding: rem(22) 0 0;

					@media screen and (max-width: 62rem){
						margin: 0 auto;
					}
				}


			@media screen and (max-width: 62rem){
				margin-left: 0;
				margin-right: 0;
			}
		}//-- end content
}//-- end section